/*--------------base stule----------------*/
/*:root {
  --main-title-color: #FFFFFF;
  --secondary-title-color: #212121;
  --activ-title-color: rgb(33, 150, 243);
  --anim: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}*/

/*body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--main-title-color);
}*/

/* reset */
/*h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;

}

.link {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}*/
/*-----------------------------header------------*/
/*.header {
  background-color: var(--main-title-color);
  display: flex;
  border-bottom: 1px solid rgba(238, 238, 238, 1);
}

.header__conteiner {
  display: flex;
  align-items: center;
}
.header__group {
  display: flex;
  align-items: center;
  gap: 50px;
}


.nav {
  display: flex;
  margin-right: auto;
  align-items: center;
}

.nav__list {
  display: flex;
  align-items: center;
  gap: 50px;
  margin-left: 93px;
}



.logo {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31/26);
  letter-spacing: 0.03em;
  color: var(--activ-title-color);
}

.header__logo {
  color: var(--secondary-title-color);
}

/*.section {
  padding-top: 94px;
  padding-bottom: 94px;
}*/

/*.section-delete {
  padding-top: 0;
}*/

/*.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}*/

/*.nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
   position:relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-title-color);
  transition: color var(--anim);
}
.nav__link:hover,
.nav__link:focus {
  color: var(--activ-title-color);
}
.nav__link:active {
  color: var(--activ-title-color);
}
.nav__link.nav__link--current {
  color: var(--activ-title-color); 
  
}
.nav__link.nav__link--current::after{
  content:'';
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--activ-title-color);
 position:absolute;
  left:0;
  bottom:0;
  

}
.nav__link:hover::after {
  opacity: 1;
}
.header__mail {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  transition: color var(--anim);
}

.header__mail--envelope {
  fill: currentColor;
}

.header__tel {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  transition: color var(--anim);
}

.header__tel--smartphone {
  fill: currentColor;
}

.header__mail:hover,
.header__mail:focus {
color: var(--activ-title-color);
}

.header__tel:hover,
.header__tel:focus {
  color: var(--activ-title-color);
}

.header__mail:active {
  color: var(--activ-title-color);
}

.header__tel:active {
  color: var(--activ-title-color);
}
*/
/*-------------------------------main----------------------------*/
/*.main {
  background-color: #2F303A;
  padding-top: 200px;
  padding-bottom: 200px;
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/fon.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}*/

/*.btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;

  padding: 10px 32px;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30/16);
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--main-title-color);
  cursor: pointer;
  border-style: none;
  background: var(--activ-title-color);

  transition: color var(--anim), background-color var(--anim);
  
}

.btn:hover,
.btn:focus {
  color: var(--main-title-color);
  background-color: rgba(33,150, 243, 0.7);

  
}

.btn:active {
  background: var(--activ-title-color);
  color: var(--main-title-color)
}*/

/*.main__caption {
  margin-left: auto;
  margin-right: auto;
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-title-color);
}*/

/*.list-our-virtues {
  display: flex;
}

.about-container {
  display: flex;
}
.main-icons-about{
  display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 120px;
    border-radius: 4px;
      background-color:#F5F4FA;
      margin-bottom: 30px;
}
.list-about {
  width: 270px;
}

.list-about:last-child {
  margin-right: auto;
}

.list-about:not(:last-child) {
  margin-right: 30px;
}*/


/*.maim-list-benefits {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16/14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-title-color);
}

.benefits-info {
  font-size: 14px;
  line-height: calc(24/14);
  letter-spacing: 0.03em;
  color: #757575;
}*/

/*.our-work {
  margin-bottom: 50px;
  text-align: center;
  font-size: 36px;
  line-height: calc(42/36);
  letter-spacing: 0.03em;
  color: var(--secondary-title-color);
}
.list-example {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.our-work-list{
  position: relative;
}
.overlay{
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  background-color: rgba(47, 48, 58, 0.8);
  backdrop-filter: blur(2px);
}
.overlay-text{
  font-weight: 700;
    font-size: 14px;
    line-height: calc(16/14);
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  
    color:var(--main-title-color);
}
*/

/*.our-comand {
  margin-bottom: 50px;
  text-align: center;
  font-size: 36px;
  line-height: calc(42/36);
  letter-spacing: 0.03em;
  color: var(--secondary-title-color);
}
.list-worker {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.main-comand {
  background-color: #F5F4FA;
}

.main-workers {
  background-color: var(--main-title-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);

}

.main-worker-name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19/16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-title-color);
}

.main-worker-position {
margin-bottom: 16px;
  font-size: 16px;
  line-height: calc(19/16);
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

.card-worker {
  padding-top: 30px;
  padding-bottom: 30px;
}*/

/*.card-set__filter {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  border: 1px solid rgba(238, 238, 238, 1);

  border-top: none;
}*/
/*
.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.socials-link {
display: flex;
justify-content: center;
align-items: center;
width: 44px;
height: 44px;
border-radius: 50%;
background-color: var(--main-title-color);
color:#AFB1B8;
transition: color var(--anim), background-color var(--anim);
}
.socials-link:hover,
.socials-link:focus {
  color: var(--main-title-color); 
  background-color:var(--activ-title-color);
}
.socials-icons{
fill:currentColor;
 }*/

/*.regular-klients{
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42/36);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-title-color);
  margin-bottom: 50px;
 }
.list-regular-klients{
  display: flex;
  justify-content: center;
  gap:30px;
}
.klients-link{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border-radius:4px;
  background-color: var(--main-title-color);
  border:1px solid rgba(175, 177, 184, 1);
  color:#AFB1B8 ;
  transition: color var(--anim), border-color var(--anim);
}
.klients-icons{
fill: currentColor;
}
.klients-link:hover,
.klients-link:focus {
 color:var(--activ-title-color);
 border-color: var(--activ-title-color);
}*/
/*-------------------------------footer--------------------------*/

/*.footer {
  background-color: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;

}

.footer-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
 
}
.footer-section{
  display: flex;
  align-items: baseline;
}
.footer-social{
margin-left: 70px;
}
.footer-mailinglist{
  margin-left: 93px;
  
}
.footer-form{
  display: flex;
  gap: 12px; 

}
.footer-mailinglist-field{
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 358px;
  height: 50px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background-color: transparent;
  color: var(--main-title-color);
  transition: border-color var(--anim);
 
}
.footer-mailinglist-field::placeholder{
    font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
}
.footer-form-btn{  
      width: 200px;
      padding-top: 10px;
      padding-left: 28px;
      padding-right: 62px;
      padding-bottom: 10px;
      border-radius: 4px;
      font-family: inherit;
      font-weight: 700;
      font-size: 16px;
      line-height: calc(30/16);
      text-align: center;
      align-items: center;
      letter-spacing: 0.06em;
      color: var(--main-title-color);
      cursor: pointer;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
      border-style: none;
      background: var(--activ-title-color);
      position: relative;
      transition: color var(--anim), background-color var(--anim);
}
.footer-form-icon{
  position: absolute;
  top: 12px;
  right: 28px;
  
  fill:var(--main-title-color)  
}
.footer-form-btn:hover,
.footer-form-btn:focus {
  color: var(--main-title-color);
  background-color: rgba(33, 150, 243, 0.7);}
.socials-link-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color:rgba(255, 255, 255, 0.1);
  color:#FFFFFF;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-link-footer:hover,
.socials-link-footer:focus {
  background-color: #2196F3;
  color: var(--activ-title-color);
}

.socials-icons {
  fill: currentColor;
}
.adress-group {
  display: flex;
  width: 231px;
  flex-direction: column;
}

.footer-logo {
  margin-bottom: 20px;
}

.logo-footer {
  color: var(--main-title-color);
}

.footer{
  display: flex;
 
}
.footer-addres {
  margin-bottom: 9px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
  transition: color var(--anim);
}

.footer-mail {
  margin-bottom: 9px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--anim);
}

.footer-tel {
  margin-bottom: 9px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--anim);
}

.footer-addres:hover,
.footer-addres:focus {
  color: var(--activ-title-color);
}

.footer-mail:hover,
.footer-mail:focus {
  color: var(--activ-title-color);
}

.footer-tel:hover,
.footer-tel:focus {
  color: var(--activ-title-color);
}

.footer-caption{
  font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-title-color);
    margin-bottom: 20px;
}*/
/*------------------------------ Modal window------------------------*/
/*.backdrop{
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  transition: opacity var(--anim), visibility var(--anim);
}
.backdrop.is-hidden{
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.backdrop.is-hidden .modal{
  opacity: 0;
  transform: translateX(50%) translateY(70%);
}
.modal{
  position: absolute;
  top:50%;
  left:50%;
  transform: translateX(-50%) translateY(-50%);
padding: 40px;
  width: 528px;
  min-height: 581px;
  border-radius: 4px;
  background-color: var(--main-title-color);
transition: transform var(--anim), opacity var(--anim);
}
.modal-btn{
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  align-items: center;
  justify-items: center;

  width: 30px;
  height: 30px;
  background-color: transparent;
  border-radius: 50%;
  border:1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: color var(--anim);
}
.modal-icon {
  fill: currentColor;
}

.modal-btn:hover,
.modal-btn:focus {
  color: var(--activ-title-color);
 
}
.modal-label{
  display: block;
  margin-bottom: 12px;
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: calc(23/20);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-title-color);
}
.modal-form-label{
  font-size: 12px;
    line-height:calc(14/12);
    letter-spacing: 0.01em;
   color: #757575;
   margin-bottom: 4px;
}
.modal-form-wrapper{
  position: relative;
  margin-bottom: 10px;
}
.modal-form-field{
  width: 100%;
  height: 40px;
  padding-left: 42px;
  padding-right: 42px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: 1px solid transparent;
  transition: outline var(--anim);
}
.modal-form-field:focus{
  outline: 1px solid #2196F3; 
}
.modal-form-field:focus+.modal-form-icon{
  fill: var(--activ-title-color);
}

.modal-form-icon{
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill var(--anim);
}
.modal-form-group{
margin-bottom: 20px;
}
.modal-form-massage{
  font-size: 12px;
    line-height: calc(14/12);
    letter-spacing: 0.01em;
  
    color: rgba(117, 117, 117, 0.5);
  display: block;
  width: 100%;
  height: 120px;
  padding: 16px 12px 16px 12px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: 1px solid transparent;
      transition: outline var(--anim);
}
.modal-form-massage:focus{
  outline: 1px solid #2196F3;
}

.modal-form-btn{
  display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    
    padding: 10px 52px;
    border-radius: 4px;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30/16);
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--main-title-color);
    cursor: pointer;
    border-style: none;
    background: var(--activ-title-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: color var(--anim), background-color var(--anim);
}
.modal-form-btn:hover,
.modal-form-btn:focus {
  color: var(--main-title-color);
  background-color: rgba(33, 150, 243, 0.7);
}

.modal-form-agreement{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:8px;
  margin-bottom: 30px;
}
.modal-form-agreement-dsc{
  font-size: 14px;
    line-height: calc(24/14);
    letter-spacing: 0.03em;
    color: #757575;
  user-select: none;
}
.modal-form-agreement-link{
  color: var(--activ-title-color);
  text-underline-offset:2.5px ;
}
.modal-form-checkbox{
  appearance: none;
  width: 16px;
  height: 15px;
  outline: 2px solid transparent;
outline-offset: -2px;
  border: 2px solid var(--secondary-title-color);
  border-radius: 2px;
background-position: center;
background-repeat: no-repeat;
background-size: 0;
background-image: url("data:image/svg+xml,%3Csvg width='13' height='10' viewBox='0 0 13 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.95703 4.75166L1.88825 4.68604L1.81923 4.75141L0.93123 5.59258L0.854858 5.66492L0.930974 5.73753L4.42671 9.07236L4.49574 9.1382L4.56476 9.07236L12.069 1.91352L12.1449 1.84116L12.069 1.76881L11.1873 0.927644L11.1183 0.861826L11.0493 0.927611L4.49577 7.17353L1.95703 4.75166Z' fill='white' stroke='white' stroke-width='0.2'/%3E%3C/svg%3E");
transition: background-size var(--anim), background-color var(--anim), outline-color var(--anim);
  
  
}
.modal-form-checkbox:checked{
  outline-color:var(--activ-title-color);
  background-color: var(--activ-title-color);

background-size: 11px 8px;
}*/
/*------------------------------page-second-------------------------*/
/*.list-two-page {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  gap: 8px;

}*/


/*.btn-list {
  padding: 6px 32px;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26/16);
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  border-style: none;
  transition: color 250ms var(--anim), background-color var(--anim), box-shadow var(--anim);
}

.btn-list:hover,
.btn-list:focus {
  color: var(--main-title-color);
  background: var(--activ-title-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.btn-list:active {
  background: var(--activ-title-color);
  color: var(--main-title-color)
}*/


/*.card-set {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.card-set__item {
  flex-basis: calc((100%-30px)*3)/3;
  transition: box-shadow var(--anim);
}

.card-set__item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}*/

/*.thumb{
  position: relative;
  overflow: hidden;
}
.overlay-card{
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);

  width: 100%;
  height: 100%;
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
  align-items: center;
  background-color: rgba(33, 150, 243, 0.9);
  backdrop-filter: blur(3px);
  transition: transform var(--anim);

}
.card-set__item:hover .overlay-card{
  transform: translateY(0);
}
.overlay-card-text{
  font-weight: 400;
    font-size: 18px;
    line-height: calc(28/18);
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
.card-set__name {
  margin-right: 0;
  width: 322px;
  margin-bottom: 4px;
  font-size: 18px;
  line-height: calc(36/18);
  letter-spacing: 0.06em;
  color: var(--secondary-title-color);
}

.card-set__title {
  margin-right: 0;
  width: 322px;
  font-size: 16px;
  line-height: calc(30/16);
  letter-spacing: 0.03em;
  color: #757575;
}*/






