.header {
        background-color: var(--main-title-color);
        display: flex;
        border-bottom: 1px solid rgba(238, 238, 238, 1);
}

.header__conteiner {
        display: flex;
        align-items: center;

@media screen and (max-width: 767px) {
        padding-top: 10px;
        padding-bottom: 10px;

        }
}

.header__group {
display: none;

@media screen and (min-width: 768px) {
             display: flex;  
             
        }
@media screen and (max-width: 1199px){
        flex-direction: column;
}
@media screen and (min-width: 1200px) {
       
        align-items: center;
        gap: 50px;
        }
        
}

.header__mail {
        display: flex;
        align-items: center;
        gap: 10px;
        padding-top: 32px;
        padding-bottom: 32px;
        font-weight: 500;
        font-size: 12px;
        line-height: calc(14/12);
        letter-spacing: 0.02em;
        color: #757575;
        transition: color var(--anim);

@media screen and (min-width: 1200px) {
font-size: 14px;
        
        }

&:hover,
&:focus {
        color: var(--activ-title-color);
        }
&:active {
        color: var(--activ-title-color);
}

@media screen and (max-width: 1199px) {
padding-top: 0px;
padding-bottom: 0px;
margin-bottom: 10px;
       
}
}

.header__mail--envelope {
        fill: currentColor;
}

.header__tel {
        display: flex;
        align-items: center;
        gap: 10px;
        padding-top: 32px;
        padding-bottom: 32px;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: #757575;
        transition: color var(--anim);
        
&:hover,
&:focus {
        color: var(--activ-title-color);
}

&:active {
        color: var(--activ-title-color);
}

@media screen and (max-width: 1199px) {
        padding-top: 0px;
        padding-bottom: 0px;

}
}

.header__tel--smartphone {
        fill: currentColor;
}







