.menu {
        display: flex;
        padding: 0;
        margin: 0;
        list-style: none;
}

@media (max-width: 767px) {
        .menu {
                display: none;
        }
}



.menu-toggle {
        min-height: 40px;
        min-width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;

        margin-left: auto;
        padding: 0;
        background-color: transparent;
        color: #ffffff;
        cursor: pointer;
        border: none;
        border-radius: 50%;
        outline: none;
        transition: color var(--anim);
 &:hover,
&:focus {
        color: var(--activ-title-color);
}  

}

@media (min-width: 768px) {
        .menu-toggle {
                display: none;
        }

     
}
.menu-btn{
        fill: currentColor;
        transition: color var(--anim);
}


.menu-container {
        position: fixed;
        top: 0;
        left: 0;

        display: flex;
        flex-direction: column;
        
        width: 100%;
        height: 100%;
        padding-top:  48px;
        padding-bottom: 48px;
        padding-left: 40px;
        background-color: var(--main-title-color);
        z-index: 999;

        transform: translateX(100%);
        transition: transform var(--anim);
}

.menu-container.is-open {
        transform: translateX(0);
}

.menu-container .menu-toggle {
        position: absolute;
        top: 0px;
        right: 58px;
        color:var(--secondary-title-color);
}

.mobile-menu {
        padding: 0;
        list-style: none;
        margin-bottom: auto;
}

.mobile-menu .link {
        display: block;
        padding: 10px;
        color: var(--secondary-title-color);
        text-decoration: none;
}

.mobile-menu-link:hover,
.mobile-menu-link:focus{
        color: var(--activ-title-color);
}
.mobile-menu-link.mobile-menu-link-current{
                color: var(--activ-title-color);

        } 
.mobile-socials {
        display: flex;
        gap: 20px;
}
.media-list {
        display: flex;
        align-items: center;
        
}

.media-list::before {
        content: '';
        display: flex;
        width: 22px;
        border: 0.5px solid #dedada;
        transform: rotate(90deg) translateX(-10px);
        transform-origin: top left;       
}

.mobile-social-link{
       
        font-weight: 500;
        font-size: 18px;
        line-height: calc(22/18);
        letter-spacing: 0.02em;
        
        color:var(--activ-title-color);
}

.mobile-menu-link{
        font-weight: 500;
        font-size: 40px;
        line-height: calc(47/40);
        letter-spacing: 0.02em;
        
        color: var(--secondary-title-color);
}

.mobile-contacts-link-phone{
        display: block;
        font-weight: 500;
        font-size: 34px;
        line-height: calc(40/34);
        letter-spacing: 0.02em;
        color: var(--activ-title-color);
        margin-bottom: 32px;
        margin-left: auto;
        margin-right: auto;
}
.mobile-contacts-link-mail{
        display: block;
        font-weight: 500;
        font-size: 24px;
        line-height: calc(28/24);
        letter-spacing: 0.02em;
        color: #757575;
        margin-bottom: 64px;
        margin-left: auto;
                margin-right: auto;
}
